In [96]:
import pandas as pd
import numpy as np

In [97]:
#import data BTC
df_BTC = pd.read_csv('BTC_USD Bitfinex Historical Data.csv',index_col='Date',parse_dates=True)

In [98]:
df_BTC

               Price      Open      High       Low    Vol. Change %
Date
2019-01-01   3,963.0   3,832.6   3,981.9   3,788.4  13.85K    3.46%
2019-01-02   4,048.5   3,963.1   4,082.2   3,920.1  19.43K    2.16%
2019-01-03   3,923.2   4,049.9   4,055.1   3,882.0  10.92K   -3.09%
2019-01-04   3,954.9   3,923.2   3,985.8   3,853.3  13.23K    0.81%
2019-01-05   3,911.0   3,954.8   4,014.9   3,901.4  14.87K   -1.11%
...              ...       ...       ...       ...     ...      ...
2023-04-15  30,280.0  30,462.0  30,575.0  30,195.0   0.80K   -0.60%
2023-04-16  30,285.0  30,280.0  30,559.0  30,123.0   1.84K    0.02%
2023-04-17  29,434.0  30,285.0  30,289.0  29,277.0   2.04K   -2.81%
2023-04-18  30,392.0  29,434.0  30,471.0  29,169.0   1.93K    3.25%
2023-04-19  28,826.0  30,392.0  30,412.0  28,645.0   3.76K   -5.15%

[1570 rows x 6 columns]

In [99]:
#Xóa dấu , và chuyển về float
df_BTC['Price']=df_BTC['Price'].replace(',','',regex=True).astype(float)
df_BTC['Open']=df_BTC['Open'].astype(str).str.replace(',','').astype(float)
df_BTC['High']=df_BTC['High'].astype(str).str.replace(',','').astype(float)
df_BTC['Low']=df_BTC['Low'].astype(str).str.replace(',','').astype(float)

In [100]:
#Thực hiện tách chuỗi KL thành 1 chuỗi số float và 1 ký tự cuối sau đó lấy số float đó nhân với 1000 
#nếu ký tự cuối là K, nếu là M thì nhân với 1000000, nếu không có K hay M thì trả về số float đó
def convert_value(value):
    if isinstance(value, str):
        if value.endswith('K'):
            return float(value[:-1]) * 1000
        elif value.endswith('M'):
            return float(value[:-1]) * 1000000
        elif value.endswith('B'):
            return float(value[:-1]) * 1000000000
        else:
            return float(value)
    else:
        return value

In [101]:
df_BTC['Vol.'] = df_BTC['Vol.'].apply(convert_value)

In [102]:
df_BTC

              Price     Open     High      Low     Vol. Change %
Date
2019-01-01   3963.0   3832.6   3981.9   3788.4  13850.0    3.46%
2019-01-02   4048.5   3963.1   4082.2   3920.1  19430.0    2.16%
2019-01-03   3923.2   4049.9   4055.1   3882.0  10920.0   -3.09%
2019-01-04   3954.9   3923.2   3985.8   3853.3  13230.0    0.81%
2019-01-05   3911.0   3954.8   4014.9   3901.4  14870.0   -1.11%
...             ...      ...      ...      ...      ...      ...
2023-04-15  30280.0  30462.0  30575.0  30195.0    800.0   -0.60%
2023-04-16  30285.0  30280.0  30559.0  30123.0   1840.0    0.02%
2023-04-17  29434.0  30285.0  30289.0  29277.0   2040.0   -2.81%
2023-04-18  30392.0  29434.0  30471.0  29169.0   1930.0    3.25%
2023-04-19  28826.0  30392.0  30412.0  28645.0   3760.0   -5.15%

[1570 rows x 6 columns]

In [123]:
df_ETH = pd.read_csv('ETH_USD Binance Historical Data.csv',index_col='Date',parse_dates=True)

In [124]:
#Xóa dấu , và chuyển về float
df_ETH['Price']=df_ETH['Price'].replace(',','',regex=True).astype(float)
df_ETH['Open']=df_ETH['Open'].astype(str).str.replace(',','').astype(float)
df_ETH['High']=df_ETH['High'].astype(str).str.replace(',','').astype(float)
df_ETH['Low']=df_ETH['Low'].astype(str).str.replace(',','').astype(float)

In [125]:
#Thực hiện tách chuỗi KL thành 1 chuỗi số float và 1 ký tự cuối sau đó lấy số float đó nhân với 1000 
#nếu ký tự cuối là K, nếu là M thì nhân với 1000000, nếu không có K hay M thì trả về số float đó
def convert_value(value):
    if isinstance(value, str):
        if value.endswith('K'):
            return float(value[:-1]) * 1000
        elif value.endswith('M'):
            return float(value[:-1]) * 1000000
        elif value.endswith('B'):
            return float(value[:-1]) * 1000000000
        else:
            return float(value)
    else:
        return value

In [126]:
df_ETH['Vol.'] = df_ETH['Vol.'].apply(convert_value)

In [127]:
df_ETH

              Price     Open     High      Low      Vol. Change %
Date
2019-01-01   139.15   131.29   139.78   130.06  245680.0    5.98%
2019-01-02   152.05   139.11   155.06   137.94  302330.0    9.28%
2019-01-03   146.04   152.05   153.49   143.48  226680.0   -3.96%
2019-01-04   152.10   146.17   154.57   144.31  249080.0    4.15%
2019-01-05   152.85   152.05   159.00   151.98  274100.0    0.50%
...             ...      ...      ...      ...       ...      ...
2023-04-15  2090.61  2100.00  2110.33  2074.35  321850.0   -0.45%
2023-04-16  2119.36  2089.85  2137.66  2073.27  319830.0    1.38%
2023-04-17  2074.75  2118.64  2119.20  2062.15  426510.0   -2.10%
2023-04-18  2103.33  2074.50  2121.28  2056.87  414190.0    1.38%
2023-04-19  1935.91  2103.00  2104.31  1924.85  775140.0   -7.96%

[1565 rows x 6 columns]

In [128]:
df_LTC = pd.read_csv('LTC_USD Binance Historical Data.csv',index_col='Date',parse_dates=True)

In [129]:
df_LTC

             Price    Open    High    Low     Vol. Change %
Date
2019-01-01   31.49   29.95   31.72  29.57  103.13K    5.39%
2019-01-02   32.68   31.47   33.28  31.18  118.34K    3.78%
2019-01-03   31.40   32.68   32.79  30.70   94.14K   -3.92%
2019-01-04   31.78   31.41   32.51  30.78  108.64K    1.21%
2019-01-05   34.33   31.81   35.87  31.79  335.59K    8.02%
...            ...     ...     ...    ...      ...      ...
2023-04-15   96.66   96.36   97.29  94.75  343.20K    0.33%
2023-04-16  100.03   96.75  102.04  95.10  902.41K    3.49%
2023-04-17   98.83  100.00  100.28  97.51  692.90K   -1.20%
2023-04-18  101.78   98.89  103.10  97.79  815.73K    2.98%
2023-04-19   90.50  101.78  101.88  88.95    1.26M  -11.08%

[1414 rows x 6 columns]

In [130]:
#Thực hiện tách chuỗi KL thành 1 chuỗi số float và 1 ký tự cuối sau đó lấy số float đó nhân với 1000 
#nếu ký tự cuối là K, nếu là M thì nhân với 1000000, nếu không có K hay M thì trả về số float đó
def convert_value(value):
    if isinstance(value, str):
        if value.endswith('K'):
            return float(value[:-1]) * 1000
        elif value.endswith('M'):
            return float(value[:-1]) * 1000000
        elif value.endswith('B'):
            return float(value[:-1]) * 1000000000
        else:
            return float(value)
    else:
        return value

In [131]:
#Xóa dấu , và chuyển về float
df_LTC['Price']=df_LTC['Price'].replace(',','',regex=True).astype(float)
df_LTC['Open']=df_LTC['Open'].astype(str).str.replace(',','').astype(float)
df_LTC['High']=df_LTC['High'].astype(str).str.replace(',','').astype(float)
df_LTC['Low']=df_LTC['Low'].astype(str).str.replace(',','').astype(float)

In [132]:
df_LTC['Vol.'] = df_LTC['Vol.'].apply(convert_value)

In [133]:
df_LTC

             Price    Open    High    Low       Vol. Change %
Date
2019-01-01   31.49   29.95   31.72  29.57   103130.0    5.39%
2019-01-02   32.68   31.47   33.28  31.18   118340.0    3.78%
2019-01-03   31.40   32.68   32.79  30.70    94140.0   -3.92%
2019-01-04   31.78   31.41   32.51  30.78   108640.0    1.21%
2019-01-05   34.33   31.81   35.87  31.79   335590.0    8.02%
...            ...     ...     ...    ...        ...      ...
2023-04-15   96.66   96.36   97.29  94.75   343200.0    0.33%
2023-04-16  100.03   96.75  102.04  95.10   902410.0    3.49%
2023-04-17   98.83  100.00  100.28  97.51   692900.0   -1.20%
2023-04-18  101.78   98.89  103.10  97.79   815730.0    2.98%
2023-04-19   90.50  101.78  101.88  88.95  1260000.0  -11.08%

[1414 rows x 6 columns]

In [115]:
#loại bỏ các dòng bên df_BTC mà bên df_LTC không có theo index
df_BTC = df_BTC[df_BTC.index.isin(df_LTC.index)]
df_BTC

              Price     Open     High      Low     Vol. Change %
Date
2019-01-01   3963.0   3832.6   3981.9   3788.4  13850.0    3.46%
2019-01-02   4048.5   3963.1   4082.2   3920.1  19430.0    2.16%
2019-01-03   3923.2   4049.9   4055.1   3882.0  10920.0   -3.09%
2019-01-04   3954.9   3923.2   3985.8   3853.3  13230.0    0.81%
2019-01-05   3911.0   3954.8   4014.9   3901.4  14870.0   -1.11%
...             ...      ...      ...      ...      ...      ...
2023-04-15  30280.0  30462.0  30575.0  30195.0    800.0   -0.60%
2023-04-16  30285.0  30280.0  30559.0  30123.0   1840.0    0.02%
2023-04-17  29434.0  30285.0  30289.0  29277.0   2040.0   -2.81%
2023-04-18  30392.0  29434.0  30471.0  29169.0   1930.0    3.25%
2023-04-19  28826.0  30392.0  30412.0  28645.0   3760.0   -5.15%

[1414 rows x 6 columns]

In [134]:
#loại bỏ các dòng bên df_ETH mà bên df_LTC không có theo index
df_ETH = df_ETH[df_ETH.index.isin(df_LTC.index)]

In [51]:
print('Shape of BTC:', df_BTC.shape)
print('Shape of ETH:', df_ETH.shape)
print('Shape of LTC:', df_LTC.shape)

Shape of BTC: (1414, 6)
Shape of ETH: (1414, 6)
Shape of LTC: (1414, 6)

In [118]:
# Xuất dữ liệu df_BTC đã tiền xử lí thành 1 file csv mới
filename = 'BTC_USD.csv'
df_BTC=df_BTC.to_csv(filename, index=True)

In [135]:
# Xuất dữ liệu df_ETH đã tiền xử lí thành 1 file csv mới
filename = 'ETH_USD.csv'
df_ETH=df_ETH.to_csv(filename, index=True)

In [122]:
# Xuất dữ liệu df_LTC đã tiền xử lí thành 1 file csv mới
filename = 'LTC_USD.csv'
df_LTC=df_LTC.to_csv(filename, index=True)

In [141]:
df_TSLA = pd.read_csv('TSLA Historical Data.csv',index_col='Date',parse_dates=True)
df_TSLA

             Price    Open    High     Low     Vol. Change %
Date
2019-01-02   20.67   20.41   21.01   19.92  174.88M   -6.85%
2019-01-03   20.02   20.47   20.63   19.83  104.48M   -3.14%
2019-01-04   21.18   20.40   21.20   20.18  110.91M    5.79%
2019-01-07   22.33   21.45   22.45   21.18  113.27M    5.43%
2019-01-08   22.36   22.80   22.93   21.80  105.13M    0.13%
...            ...     ...     ...     ...      ...      ...
2023-04-13  185.90  182.96  186.50  180.94  112.33M    2.97%
2023-04-14  185.00  183.95  186.28  182.01   96.44M   -0.48%
2023-04-17  187.04  186.32  189.69  182.69  116.66M    1.10%
2023-04-18  184.31  187.15  187.69  183.58   91.46M   -1.46%
2023-04-19  180.59  179.10  183.50  177.65  114.00M   -2.02%

[1082 rows x 6 columns]

In [142]:
#Thực hiện tách chuỗi KL thành 1 chuỗi số float và 1 ký tự cuối sau đó lấy số float đó nhân với 1000 
#nếu ký tự cuối là K, nếu là M thì nhân với 1000000, nếu không có K hay M thì trả về số float đó
def convert_value(value):
    if isinstance(value, str):
        if value.endswith('K'):
            return float(value[:-1]) * 1000
        elif value.endswith('M'):
            return float(value[:-1]) * 1000000
        elif value.endswith('B'):
            return float(value[:-1]) * 1000000000
        else:
            return float(value)
    else:
        return value

In [143]:
df_TSLA['Vol.'] = df_TSLA['Vol.'].apply(convert_value)

In [144]:
#Xóa dấu , và chuyển về float
df_TSLA['Price']=df_TSLA['Price'].replace(',','',regex=True).astype(float)
df_TSLA['Open']=df_TSLA['Open'].astype(str).str.replace(',','').astype(float)
df_TSLA['High']=df_TSLA['High'].astype(str).str.replace(',','').astype(float)
df_TSLA['Low']=df_TSLA['Low'].astype(str).str.replace(',','').astype(float)

In [145]:
df_TSLA

             Price    Open    High     Low         Vol. Change %
Date
2019-01-02   20.67   20.41   21.01   19.92  174880000.0   -6.85%
2019-01-03   20.02   20.47   20.63   19.83  104480000.0   -3.14%
2019-01-04   21.18   20.40   21.20   20.18  110910000.0    5.79%
2019-01-07   22.33   21.45   22.45   21.18  113270000.0    5.43%
2019-01-08   22.36   22.80   22.93   21.80  105130000.0    0.13%
...            ...     ...     ...     ...          ...      ...
2023-04-13  185.90  182.96  186.50  180.94  112330000.0    2.97%
2023-04-14  185.00  183.95  186.28  182.01   96440000.0   -0.48%
2023-04-17  187.04  186.32  189.69  182.69  116660000.0    1.10%
2023-04-18  184.31  187.15  187.69  183.58   91460000.0   -1.46%
2023-04-19  180.59  179.10  183.50  177.65  114000000.0   -2.02%

[1082 rows x 6 columns]

In [ ]:
# Xuất dữ liệu df_TSLA đã tiền xử lí thành 1 file csv mới
filename = 'TSLA.csv'
df_TSLA=df_TSLA.to_csv(filename, index=True)